@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
select,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/

.lock {
  overflow: hidden;
}

.menu {
  min-height: 50px;
  margin-bottom: calc(56px + 1 * ((100vw - 767px) / 91));
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  padding: 10px 17px;
  color: #000;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: inline-block;
}

.menu__link-active {
  color: #ffffff;
  text-shadow: 0 0 3px rgba(155, 155, 155, 0.6);
}

.menu__link:hover,
.menu__link:active {
  color: #e1af4f;
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
}

.footer__link {
  padding: 5px;
  position: relative;
}

.footer__link > a {
  display: inline-block;
}

.footer__link + .footer__link {
  margin-left: 40px;
}

.footer__link svg {
  -webkit-transition: fill 0.3s ease-in-out 0s;
  -o-transition: fill 0.3s ease-in-out 0s;
  transition: fill 0.3s ease-in-out 0s;
}

.footer__link a:hover .footer__img,
.footer__link a:focus .footer__img {
  fill: #ddd;
}

.footer__mail-tooltip {
  position: absolute;
  bottom: 90px;
  left: -2.5vw;
  left: -125%;
  padding: 15px;
  font-size: 0;
  -webkit-transform: scale(0) translate(-40px, 0);
      -ms-transform: scale(0) translate(-40px, 0);
          transform: scale(0) translate(-40px, 0);
  color: #fff;
}

.footer__mail-tooltip.active-tooltip {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  width: 326px;
  background: -webkit-gradient(linear, left top, right top, from(#6a7a98), color-stop(#9FBBDE), to(#6a7a98));
  background: -o-linear-gradient(left, #6a7a98, #9FBBDE, #6a7a98);
  background: linear-gradient(to right, #6a7a98, #9FBBDE, #6a7a98);
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 40px -5px honeydew;
          box-shadow: 5px 5px 40px -5px honeydew;
  -webkit-transform: scale(1) translate(-40px, 0);
      -ms-transform: scale(1) translate(-40px, 0);
          transform: scale(1) translate(-40px, 0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.footer__mail-tooltip.active-tooltip::after {
  position: absolute;
  bottom: -20px;
  left: 45%;
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #91b3d6;
}

body {
  font-family: "Heebo", "Areal", sans-serif;
  background-color: #7eb6f7;
}

.wrapper {
  max-width: 1182px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*---------Кнопка волны-------------*/
}

.about__info {
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 20px;
}

.about__title span {
  font-size: 35px;
}

.about__text {
  line-height: 24px;
  margin-bottom: 35px;
}

.about__logo {
  display: inline-block;
  min-width: 260px;
  min-height: 260px;
  border-radius: 55% 8% 20px;
  border-left: 1px solid white;
  border-top: 2.5px solid white;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: border 0.1s ease 0s;
  -o-transition: border 0.1s ease 0s;
  transition: border 0.1s ease 0s;
  margin-right: 55px;
}

.about__logo:hover,
.about__logo:active {
  border-left: 1px solid rgb(220, 220, 220);
  border-top: 3px solid rgb(239, 239, 239);
}

.about__logo img {
  -webkit-transform: translate(15px, 30px);
      -ms-transform: translate(15px, 30px);
          transform: translate(15px, 30px);
}

.about .about-btn {
  width: 13.5rem;
  height: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -5px 20px -10px rgba(0, 0, 0, 0.8), 0 10px 20px -10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 -5px 20px -10px rgba(0, 0, 0, 0.8), 0 10px 20px -10px rgba(0, 0, 0, 0.9);
  border-radius: 0 0 0.625rem 0.625rem;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  overflow: hidden;
}

.about .about-btn:hover {
  border-radius: 0.625em;
  -webkit-box-shadow: 0 0 2.5em rgba(73, 115, 255, 0.7);
          box-shadow: 0 0 2.5em rgba(73, 115, 255, 0.7);
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.about .about-btn:hover .about-btn__waves {
  top: -3.125em;
}

.about .about-btn__text {
  font-size: 1.096875rem;
  margin-top: 4px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 20px;
  z-index: 1;
}

.about .about-btn__waves {
  position: absolute;
  width: 13.5rem;
  height: 13.5rem;
  top: 0;
  left: 0;
  background-color: #4973ff;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.about .about-btn__waves::after,
.about .about-btn__waves::before {
  content: "";
  top: 0;
  position: absolute;
  left: 50%;
  width: 250%;
  height: 250%;
  -webkit-transform: translate3D(-50%, -96%, 0);
      -ms-transform: translate3D(-50%, -96%, 0);
          transform: translate3D(-50%, -96%, 0);
}

.about .about-btn__waves::before {
  background-color: #000;
  border-radius: 48%;
  -webkit-animation: waves 5s infinite linear;
          animation: waves 5s infinite linear;
}

.about .about-btn__waves::after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  -webkit-animation: waves 10s infinite linear;
          animation: waves 10s infinite linear;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate3D(-50%, -96%, 0);
            transform: translate3D(-50%, -96%, 0);
  }

  100% {
    -webkit-transform: translate3D(-50%, -96%, 0) rotate(360deg);
            transform: translate3D(-50%, -96%, 0) rotate(360deg);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate3D(-50%, -96%, 0);
            transform: translate3D(-50%, -96%, 0);
  }

  100% {
    -webkit-transform: translate3D(-50%, -96%, 0) rotate(360deg);
            transform: translate3D(-50%, -96%, 0) rotate(360deg);
  }
}

@media (min-width: 767px) {
  .menu__body {
    padding-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 60px;
  }
}

@media (min-width: 858px) {
  .menu__link {
    font-size: calc(19.6px + 0.4 * ((100vw - 767px) / 91));
  }
}

@media (max-width: 858px) {
  .footer__mail-tooltip {
    left: calc(-10vw + 7.5 * ((100vw - 767px) / 91));
  }

  .footer__mail-tooltip.active-tooltip {
    width: calc(319px + 7 * ((100vw - 767px) / 91));
  }

  .about__title {
    font-size: calc(42px + 2 * ((100vw - 767px) / 91));
  }

  .about__title span {
    font-size: calc(34px + 1 * ((100vw - 767px) / 91));
  }
}

@media (max-width: 767px) {
  .menu {
    padding-top: 13px;
    position: absolute;
    top: 0;
    right: 8px;
  }

  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    height: 22px;
    width: 30px;
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
  }

  .menu__burger span,
  .menu__burger::before,
  .menu__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgb(0, 0, 0);
  }

  .menu__burger::before {
    content: "";
    top: 0;
  }

  .menu__burger::after {
    content: "";
    bottom: 0;
  }

  .menu__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu__burger.active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .menu__burger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .menu__burger.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100vw;
    background-color: rgba(0, 0, 0, 0.95);
    -webkit-transition: right 0.6s ease-out 0s, -webkit-box-shadow 1.3s ease 0s;
    transition: right 0.6s ease-out 0s, -webkit-box-shadow 1.3s ease 0s;
    -o-transition: right 0.6s ease-out 0s, box-shadow 1.3s ease 0s;
    transition: right 0.6s ease-out 0s, box-shadow 1.3s ease 0s;
    transition: right 0.6s ease-out 0s, box-shadow 1.3s ease 0s, -webkit-box-shadow 1.3s ease 0s;
    padding: 50px 30px 30px 30px;
    overflow: auto;
    z-index: 4;
  }

  .menu__body.active {
    text-align: left;
    right: 0;
    -webkit-box-shadow: -20px 0 90px 22px black;
            box-shadow: -20px 0 90px 22px black;
  }

  .menu__burger.active + .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 50px;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-box-shadow: 0 0 26px white;
            box-shadow: 0 0 26px white;
    background-color: #ddd;
  }

  .menu__link {
    color: #eee;
    font-size: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 17px 0 17px;
  }

  .menu__link-active {
    color: rgb(0, 231, 254);
  }

  .main {
    margin-top: 75px;
  }

  .about .about-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 625px) {
  .about__logo {
    border-right: 1px solid white;
    border-radius: 25% 25% 8% 20px;
  }

  .about__logo img {
    -webkit-transform: translate(10px, 23px);
        -ms-transform: translate(10px, 23px);
            transform: translate(10px, 23px);
  }

  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__logo {
    margin: 0 auto 40px;
  }
}

@media (max-width: 425px) {
  .footer__mail-tooltip.active-tooltip {
    font-size: 16px;
    padding: 15px 10px;
  }
}

@media (min-width: 767px) and (max-width: 858px) {
  .menu__body {
    padding-right: calc(0px + 60 * ((100vw - 767px) / 91));
  }
}