* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
select,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/

.lock {
  overflow: hidden;
}

.menu {
  min-height: 50px;
  margin-bottom: calc(56px + 1 * ((100vw - 767px) / 91));
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  padding: 10px 17px;
  color: #000;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: inline-block;
}

.menu__link-active {
  color: rgb(40, 108, 255);
  text-shadow: 0 0 3px rgba(155, 155, 155, 0.6);
}

.menu__link:hover,
.menu__link:active {
  color: rgb(141, 140, 140);
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
}

.footer__link {
  padding: 5px;
}

.footer__link > a {
  display: inline-block;
}

.footer__link + .footer__link {
  margin-left: 40px;
}

.footer__link svg {
  -webkit-transition: fill 0.3s ease-in-out 0s;
  -o-transition: fill 0.3s ease-in-out 0s;
  transition: fill 0.3s ease-in-out 0s;
}

.footer__link a:hover .footer__img,
.footer__link a:focus .footer__img {
  fill: #ddd;
}

.footer__link {
  position: relative;
}

.footer__mail-tooltip {
  position: absolute;
  bottom: 95px;
  left: 0px;
  padding: 20px;
  font-size: 0;
  -webkit-transform: scale(0) translate(-40px, 0);
      -ms-transform: scale(0) translate(-40px, 0);
          transform: scale(0) translate(-40px, 0);
}

.footer__mail-tooltip.active-tooltip {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  font-size: 18px;
  line-height: 1.2;
  min-width: 330px;
  color: #eee;
  background: -webkit-gradient(linear, left top, right top, from(rgb(80, 80, 80)), color-stop(rgb(132, 132, 132)), to(rgb(90, 90, 90)));
  background: -o-linear-gradient(left, rgb(80, 80, 80), rgb(132, 132, 132), rgb(90, 90, 90));
  background: linear-gradient(to right, rgb(80, 80, 80), rgb(132, 132, 132), rgb(90, 90, 90));
  border-radius: 10px;
  -webkit-transform: scale(1) translate(-40px, 0);
      -ms-transform: scale(1) translate(-40px, 0);
          transform: scale(1) translate(-40px, 0);
}

.footer__mail-tooltip.active-tooltip::after {
  position: absolute;
  bottom: -20px;
  left: 60px;
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid rgb(80, 80, 80);
}

body {
  font-family: "Heebo", "Areal", sans-serif;
}

.wrapper {
  max-width: 1182px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767px) {
  .menu__body {
    padding: 12px 60px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 60px;
  }
}

@media (min-width: 858px) {
  .menu__link {
    font-size: calc(19.6px + 0.4 * ((100vw - 767px) / 91));
  }
}

@media (max-width: 767px) {
  .menu {
    padding-top: 13px;
    position: absolute;
    top: 0;
    right: 8px;
  }

  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    height: 22px;
    width: 30px;
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
  }

  .menu__burger span,
  .menu__burger::before,
  .menu__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgb(0, 0, 0);
  }

  .menu__burger::before {
    content: "";
    top: 0;
  }

  .menu__burger::after {
    content: "";
    bottom: 0;
  }

  .menu__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu__burger.active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .menu__burger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .menu__burger.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100vw;
    background-color: rgba(0, 0, 0, 0.95);
    -webkit-transition: right 0.6s ease-out 0s, -webkit-box-shadow 1.3s ease 0s;
    transition: right 0.6s ease-out 0s, -webkit-box-shadow 1.3s ease 0s;
    -o-transition: right 0.6s ease-out 0s, box-shadow 1.3s ease 0s;
    transition: right 0.6s ease-out 0s, box-shadow 1.3s ease 0s;
    transition: right 0.6s ease-out 0s, box-shadow 1.3s ease 0s, -webkit-box-shadow 1.3s ease 0s;
    padding: 50px 30px 30px 30px;
    overflow: auto;
  }

  .menu__body.active {
    text-align: left;
    right: 0;
    -webkit-box-shadow: -20px 0 90px 22px black;
            box-shadow: -20px 0 90px 22px black;
  }

  .menu__body.active::after {
    background-color: #ddd;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 50px;
    top: 0;
    left: 0;
    background-color: #eee;
    z-index: 2;
    -webkit-box-shadow: 0 0 26px white;
            box-shadow: 0 0 26px white;
  }

  .menu__link {
    color: #eee;
    font-size: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 17px 0 17px;
  }

  .menu__link-active {
    color: rgb(0, 231, 254);
  }

  .main {
    margin-top: 75px;
  }
}

@media (min-width: 767px) and (max-width: 858px) {
  .menu__body {
    padding-right: calc(0px + 60 * ((100vw - 767px) / 91));
  }
}